{
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react",
    "react-native"
  ],
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "react/prefer-stateless-function": 1,
    "react/jsx-filename-extension": 0,
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 0,
    "react-native/no-color-literals": 0,
    "react/forbid-prop-types": 0,
    "no-undef": 0, // messes with babel
    "padded-blocks": 0,
    "max-len": 0
  },
  "globals": {
    "fetch": true,
    "navigator": false,
    "__DEV__": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".android.js",
          ".ios.js"
        ]
      }
    }
  }
}
